<?xml version="1.0"?>
<!--
/**
 * @author      Maciej Sławik <maciekslawik@gmail.com>
 * Github:      https://github.com/maciejslawik
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_register">
        <observer name="mslwk_order_export_sales_order_invoice_register"
                  instance="MSlwk\GenericOrderExport\Observer\ExportOrderAfterInvoiceRegistered" />
    </event>
</config>